/FergusonEtAl2015/.ipynb_checkpoints
/TriplettEtAl2018/.ipynb_checkpoints
/ScholzEtAl2019/.ipynb_checkpoints/
/ScholzEtAl2019/AML*.hdf5
/YutaMouse41-150903.nwb
/NWB/.ipynb_checkpoints
/newdata/.ipynb_checkpoints/TestJWidgets-checkpoint.ipynb
/Lantyer/.ipynb_checkpoints
*.DS_Store
/Lantyer/170502_AL_257_CC.mat
/Lantyer/171222_NC_162_FN.mat
/Lantyer/180817_ME_9_CC.mat
.vscode
.pytest_cache
/IgorPro/__pycache__
/NWB/__pycache__
/TestData
/NWB/nwb_info.pyc
/NWB/time_series_data.OLD.nwb
/FergusonEtAl2015/FergusonEtAl2015.OLD.nwb
/KatoEtAl2015/.ipynb_checkpoints
/Allen/ecephys_session_785402239.nwb
/KatoEtAl2015/AVA_HisCl.mat
/KatoEtAl2015/Snippets-Copy1.ipynb
/KatoEtAl2015/WT_NoStim.mat
/KatoEtAl2015/WT_NoStim_pre73.mat
/KatoEtAl2015/WT_Stim.mat
/KatoEtAl2015/split.dat
/KatoEtAl2015/tests.log
/NWB/dandi/*.nwb
/spikeinterface/*
/KatoEtAl2015/KatoEtAl2018.AVA_HisCl.1.nwb
/KatoEtAl2015/KatoEtAl2018.AVA_HisCl.2.nwb
/KatoEtAl2015/KatoEtAl2018.AVA_HisCl.3.nwb
/KatoEtAl2015/KatoEtAl2018.AVA_HisCl.4.nwb
/KatoEtAl2015/KatoEtAl2018.WT_NoStim.1.nwb
/KatoEtAl2015/KatoEtAl2018.WT_NoStim.2.nwb
/KatoEtAl2015/KatoEtAl2018.WT_NoStim.3.nwb
/KatoEtAl2015/KatoEtAl2018.WT_NoStim.4.nwb
/ScholzEtAl2018/.ipynb_checkpoints/
/ScholzEtAl2018/AML175_moving.hdf5
/ScholzEtAl2018/AML18_moving.hdf5
/Steinmetz2019/Steinmetz2019_Cori_2016-12-14.nwb
/Steinmetz2019/Steinmetz2019_Forssmann_2017-11-04.nwb
/Steinmetz2019/Steinmetz2019_Lederberg_2017-12-11.nwb
/Steinmetz2019/Steinmetz2019_Muller_2017-01-08.nwb
