/FergusonEtAl2015/.ipynb_checkpoints
/TriplettEtAl2018/.ipynb_checkpoints
/ScholzEtAl2019/.ipynb_checkpoints/
/ScholzEtAl2019/AML*.hdf5
/YutaMouse41-150903.nwb
/NWB/.ipynb_checkpoints
/newdata/.ipynb_checkpoints/TestJWidgets-checkpoint.ipynb
/Lantyer/.ipynb_checkpoints
*.DS_Store
/Lantyer/170502_AL_257_CC.mat
/Lantyer/171222_NC_162_FN.mat
/Lantyer/180817_ME_9_CC.mat
.vscode
.pytest_cache
/IgorPro/__pycache__
/NWB/__pycache__
/TestData
/NWB/nwb_info.pyc
/NWB/time_series_data.OLD.nwb
/FergusonEtAl2015/FergusonEtAl2015.OLD.nwb
/KatoEtAl2015/.ipynb_checkpoints
/Allen/ecephys_session_785402239.nwb
/KatoEtAl2015/AVA_HisCl.mat
/KatoEtAl2015/Snippets-Copy1.ipynb
/KatoEtAl2015/WT_NoStim.mat
/KatoEtAl2015/WT_NoStim_pre73.mat
/KatoEtAl2015/WT_Stim.mat
/KatoEtAl2015/split.dat
/KatoEtAl2015/tests.log
/NWB/dandi/*.nwb
/spikeinterface/*
/ScholzEtAl2018/.ipynb_checkpoints/
/ScholzEtAl2018/AML175_moving.hdf5
/ScholzEtAl2018/AML18_moving.hdf5
/Steinmetz2019/Steinmetz2019_Cori_2016-12-14.nwb
/Steinmetz2019/Steinmetz2019_Forssmann_2017-11-04.nwb
/Steinmetz2019/Steinmetz2019_Lederberg_2017-12-11.nwb
/Steinmetz2019/Steinmetz2019_Muller_2017-01-08.nwb
/Lantyer/*.mat
/Lantyer/LantyerEtAl2018_171017_KK_13_FN.nwb
/Lantyer/LantyerEtAl2018_171207_NC_146_FN.nwb
/NWB/bbp
/NWB/silverlab
/ScholzEtAl2018/ScholzEtAl2018_AML175_moving_BrainScanner20180223_142554.nwb
/ScholzEtAl2018/ScholzEtAl2018_AML175_moving_BrainScanner20180330_160650.nwb
/ScholzEtAl2018/ScholzEtAl2018_AML175_moving_BrainScanner20180330_162137.nwb
/ScholzEtAl2018/ScholzEtAl2018_AML18_moving_BrainScanner20160506_155051.nwb
/ScholzEtAl2018/ScholzEtAl2018_AML18_moving_BrainScanner20160506_160928.nwb
/ScholzEtAl2018/ScholzEtAl2018_AML32_moving_BrainScanner20170424_105620.nwb
/ScholzEtAl2018/ScholzEtAl2018_AML32_moving_BrainScanner20170610_105634.nwb
/ScholzEtAl2018/ScholzEtAl2018_AML32_moving_BrainScanner20170613_134800.nwb
/ScholzEtAl2018/ScholzEtAl2018_AML32_moving_BrainScanner20180709_100433.nwb
/ScholzEtAl2018/ScholzEtAl2018_AML32_moving_BrainScanner20181129_120339.nwb
/ScholzEtAl2018/AML32_moving.hdf5
/IgorPro/.ipynb_checkpoints
/IgorPro/LEMS_example-single-izhikevich2007cell-sim.xml
/IgorPro/example-single-izhikevich2007cell-sim-v.png
/IgorPro/example-single-izhikevich2007cell-sim.v.dat
/IgorPro/izhikevich2007_single_cell_network.nml
