/FergusonEtAl2015/.ipynb_checkpoints
/TriplettEtAl2018/.ipynb_checkpoints
/ScholzEtAl2019/.ipynb_checkpoints/
/ScholzEtAl2019/AML*.hdf5
/YutaMouse41-150903.nwb
/NWB/.ipynb_checkpoints
/newdata/.ipynb_checkpoints/TestJWidgets-checkpoint.ipynb
/Lantyer/.ipynb_checkpoints
*.DS_Store
